<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

         <from th:action="@{/book}" th:object="${book}" method="POST">
         <table>
               <tr>
                   <td>Book Id:</td>
                   <td><input type="text" th:field="*{bookid}" /></td>
               </tr>

               <tr>
                   <td>Author Name:</td>
                   <td><input type="text" th:field="*{authorname}" /></td>
               </tr>
               <tr>
                   <td>Book Price:</td>
                   <td><input type="text" th:field="*{bookprice}" /></td>
               </tr>
               <tr>
                   <td></td>
                   <td><input type="submit" value="Save" /></td>
               </tr>
               
        </table>


      </from>




</body>
